

.card {
  /*margin: 10px; original
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  background-color: aliceblue;*/
  
  border-radius: 10px;
  padding: 10px;
  /*width: 100%;*/             /* ✅ take full width of grid column */
  box-sizing: border-box;  /* ✅ padding won't overflow width */
  /*background-color: aliceblue;*/
  background-color: rgb(255, 255, 255);
  height: 150px;
  /*height: fit-content;*/

  display:flex;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: 300ms;
  width: 340px;
  margin-right: 20px;
  overflow-x: hidden; 
  /*word-wrap: break-word;
  white-space: normal;
  display:inline-block; */
}

.cardrow {
  flex-direction: row;
}

@media (max-width:600px) {
  .card{
    margin: 5px;
    height: 190px;
    width: 340px;
  }


}


.cardheader {
  display: flex;
}


.profile-card {
  /*height: 2.5rem;   flex-direction: row;*/
  height: 3rem;
  width: 3rem;
  border-radius: 25px;
  background-color: rgb(158, 196, 230);
  margin-right: 5px;
  
}

.name {
  font-size: normal;
  font-weight: 600;
}

.header-text {
  font-size: normal;
  font-weight: 400;
  margin-top: 0px;
}

.cards-text {
  font-size: normal;
  font-weight: 400;
  padding: 0 10px;
  box-sizing: border-box;
  
}
