

.Discovery {
  font-size: large;
  font-weight: 500;
  border-radius: 10px;
  background-color: rgb(232, 232, 232);

}

.discoverbar {
  align-items: center;
  height: 40px;
  border: none;
  background-color: transparent;
  display: flex;  
}

.discoverbar:focus{
    outline-style: none;
}

.navimg {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.discovertext {
  margin-left: 10px;
}

.Discovery:hover {
  border-radius: 10px;
  background-color: rgb(227, 227, 227);

}

